<div class="sidebar text-white p-3" style="width: 280px;">
    <a href="/" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Volunteers</span>
    </a>
    <hr>
    <ul class="nav nav-pills mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a class="nav-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUM0g5MFIwMENZTDVTOEZIM1JXR1FHWEVJMS4u">
            Sign up to be a Volunteer
        </a>
      </li>
      <li>
        <a  class="nav-link" href='https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUM0Q1SkJZTk9PRFNRM0hRWTFKRklXSE01UC4u'>
            Sign up to be a Moderator!
        </a>
      </li>
    </ul>
  </div>
