<div class="sidebar text-white p-3" style="max-width: 280px;">
    <a href="/" class="align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <span class="fs-4">Candidates</span>
    </a>
    <hr>
    <ul class="nav nav-pills mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          Home
        </a>
      </li>
      <li>
        <a class="nav-link" href='https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUMUgyVEMxNEhBU05YWFlDVTkzMkhITUJGNC4u'>
            Endorse a Candidate
        </a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'rfo' %}">Run for Office</a>
      </li>
      <li>
        <a class="nav-link" href="/candidates/amascheduler">Schedule AMA online</a>
      </li>
    </ul>
</div>
