<div class="sidebar text-white p-3" style="max-width: 280px; height:100%;">
    <ul class="nav nav-pills mb-auto">
      <li>
        <a class="nav-link" href='https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUMUgyVEMxNEhBU05YWFlDVTkzMkhITUJGNC4u'>
            Endorse a Candidate
        </a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'rfo' %}">Run for Office</a>
      </li>
      <li>
        <a class="nav-link" href="/candidate/amascheduler">Schedule AMA online</a>
      </li>
    </ul>
</div>
