{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
{% load shuffle %}

{% block content %}
<div>
  <h1>Candidates</h1>
  <p>
  <a class="btn btn-primary my-1" style="font-weight: 600; border-radius: 9999px;" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUMUgyVEMxNEhBU05YWFlDVTkzMkhITUJGNC4u">
    Endorse a Candidate
    <i class="fas fa-chevron-right"></i>
  </a>

  </p>
  <div class="d-grid gap-3">
    {% for candidate in candidates %}
    <div class="card">
      <div class="row no-gutters">
          <div class="col-auto">
            {% image candidate.image original as image %}
            <img src="{{image.url}}" class="card-img-top" alt="..." style="height:25vh; object-fit: cover;">
          </div>
          <div class="col ">
              <div class="card-body card-block px-2">
                <h4 class="card-title">{{candidate.title}}</h4>
                <p class="card-subtitle">{{candidate.office_type_ref.title}}</p>
                <p class="card-subtitle"><a href={{candidate.office_ref.website}}>{{candidate.area_ref.title}}</a></p>
                <p class="card-text"></p>
      
              </div>
          </div>
      </div>
      <div class="card-footer w-100 text-muted">
        <a href="{{candidate.facebook}}"> <i class="fab fa-facebook fa-lg"></i></a>
        <a href="{{candidate.twitter}}"><i class="fab fa-twitter fa-lg"></i></a>
        <a href="{{candidate.instagram}}"><i class="fab fa-instagram fa-lg"></i></a>
        <a href="{{candidate.website}}"><i class="fas fa-link fa-lg"></i></a>
      </div>
    </div>

    {% endfor %}
  </div>
</div>

{% endblock content %}