{% extends "base.html" %}

{% load i18n static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block title %}
Campaign
{% endblock title %}

{% block content %}
<div class="row flex-lg-row-reverse align-items-center g-5">
  <div class="col-10 col-sm-8 col-lg-6">
    <img src="{% static 'img/capitol.jpg'%}" class="d-block mx-lg-auto img-fluid" alt="The United States Capitol Rotunda" width="700" height="500" loading="lazy">
  </div>
  <div class="col-lg-6">
    <h1 class="display-5 fw-bold lh-1 mb-3">Are you ready to join the revolution?</h1>
    <p class="lead">Acquiring and holding public office is a serious challenge for anyone, tools like the RunForOffice
      site make for a helpful place to start &#8211; what offices are up for election in your neighborhood?</p>
  

  </div>
</div>

<hr/>
<section class="text-wrapper">
  <h2>Schedule AMA Online</h2>
  <p>
    The Political Revolution can help you by setting up an AMA on Reddit!
  </p>
  <p>
    <a class="btn btn-primary my-1" style="font-weight: 600; border-radius: 9999px;" href="/campaign/amascheduler">
      Schedule AMA Online
      <i class="fas fa-chevron-right"></i>
    </a>

  </p>
</section>
<hr/>
<section class="text-wrapper">
  <h2>Run for Office</h2>
  <p>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item">Use the search tool to find the offices you are eligible to run for &#8211; RFO
      usually has all the information you need to get on the ballot.</li>
    <li class="list-group-item">Take the free online course: <a
        href="http://nationbuilder.com/course_how_to_run_for_office/?recruiter_id=969659">How to run for office</a>.
    </li>
    <li class="list-group-item">Get a <a href="http://nationbuilder.com/voterfile/?recruiter_id=969659">free voter
        file</a> with all the voters in your district.</li>
    <li class="list-group-item">Runforoffice is also offering a free trial of NationBuilder, check the <a
        href="http://politicalrevolution.runforoffice.org/">Run For Office!</a> link for details.</li>
  </ol>
</p>
<p>
  <a class="btn btn-primary my-1" style="font-weight: 600; border-radius: 9999px;" href="https://politicalrevolution.runforoffice.org/">
    Run for Office
    <i class="fas fa-chevron-right"></i>
  </a>
</p>
<hr/>
  <p style="text-align: left;">Some more thoughts from The Political Revolution PAC:</p>
  <p style="text-align: left;"><strong>Campaigning</strong> for public office is time consuming and can be expensive. If
    you have a family, consider how running for office will affect them and others in your life. Public office may also
    put them in the spotlight and may decrease your available family time at home.</p>
  <p style="text-align: left;"><strong>Fundraising</strong> can help you build financial backing but it is important to
    understand your financial situation before you declare a run for office.</p>
  <p style="text-align: left;">You will be in the public eye, both during your campaign and while in office. You must
    uphold the highest civic and moral standards for yourself and understand that you will be acting on behalf of your
    entire community, should you win. Think hard about how you will conduct yourself, and make sure you have thought
    through the issues and your positions.</p>
  <p style="text-align: left;"><strong>What is your background</strong>? Education, experience and occupation all play a
    critical role in running for office. You do not need a Political Science degree from Harvard to run, but voters will
    look at your background and education when they are deciding whom to vote for.</p>
  <p style="text-align: left;"><strong>Carefully consider the position &#8211; </strong>What is important to you, what
    issues are you passionate about and what do you think that you can do differently to make a positive change? If you
    are involved with the local PTA and are passionate about local school issues, you should probably look into running
    for the local school board rather than city council. If you have a prominent career, you may be hold up to scrutiny
    that higher office involves, like Mayor or Congressperson.<br />
    What type of expertise should someone in that position have? Do you have it?</p>
  <h5 style="text-align: center;">Whoever you are and wherever you go, be good above all else&#8230;</h5>
  <h5 style="text-align: center;"><strong>The Political Revolution PAC</strong></h5>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}