# This is the environment file for Docker Compose!
# These variables only pertain to the docker-compose client itself
# The environment files for the containers are in the config folder

# Copy this file to .env
# cp .env.dev.example .env

UID=1000
GID=1000

POLREV_DOMAIN=docker.localhost