# Environment
*.env
.envrc

.idea
.vscode
__pycache__
.pyc
env
.eggs
*.egg-info

build/
_build

db.sqlite3

node_modules

polrev/static
polrev/media
letsencrypt

# celery beat schedule file
celerybeat-schedule

# docker-postgres-backup-local
backups/*

docker-compose.override.yml