{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>
        {% block title %}
            {{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
        {% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title"
          content="{% block meta_title %}
                        {% if blog_page.seo_title %}
                            {{ blog_page.seo_title }}
                        {% else %}
                            {{ blog_page.title }}
                        {% endif %}
                   {% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}
                        {{ blog_page.search_description }}
                   {% endblock meta_description %}"/>
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic' rel='stylesheet' type='text/css'> -->
    {% block styles %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png '%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
      
    <link href="{% static 'dist/main.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
  
    {% block css %}
        <!-- <link rel='stylesheet' href="{% static 'puput/css/bootstrap.min.css' %}" type='text/css'/> -->
        <!-- <link rel="stylesheet" href="{% static 'puput/css/font-awesome.min.css' %}"> -->
        <style>
            body {
                --main-color: {{blog_page.main_color}};
            }
        </style>
        <!--<link rel="stylesheet" href="{% static 'puput/css/puput.css' %}"/>-->
    {% endblock %}
</head>
<body>
{% include '_navbar.html' %}


{% wagtailuserbar %}
<div class="container wrapper" style="padding: 0px;">
    <div class="row no-gutters">
        <div class="col-md-9">
            <main class="site-main paper">
                {% block content %}{% endblock content %}
                {% block extra_content %}{% endblock extra_content %}
            </main>
        </div>

        <div class="col-md-3">
            <div class="blog_sidebar">
                <div class="rss-sitemap">
                    <a href="{% feeds_url blog_page %}" target="_blank" title="RSS">
                         <i class="fa fa-rss-square"></i> <span>{% trans 'Feed RSS' %}</span>
                    </a>
                </div>
                <form name="search_form" class="search_form" method="get" action="{% routablepageurl blog_page 'entries_search' %}">
                    <div class="input-group">
                        <input type="search" name="q" placeholder="{% trans 'Search' %}"
                            class="form-control py-2 border-right-0 border" >
                        <span class="input-group-append">
                            <button class="btn btn-outline-secondary border-left-0 border" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                  
                </form>

                {% if blog_page.display_last_entries %}
                    <ul class="sidebar">
                        <h4>{% trans 'Latest Posts' %}</h4>
                        {% recent_entries blog_page.num_last_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_popular_entries %}
                    <ul class="sidebar">
                        <h4>{% trans 'Popular Posts' %}</h4>
                        {% popular_entries blog_page.num_popular_entries %}
                    </ul>
                {% endif %}
                {% if blog_page.display_categories %}
                    <ul class="sidebar">
                        <h4>{% trans 'Categories' %}</h4>
                        {% categories_list %}
                    </ul>
                {% endif %}
                {% if blog_page.display_tags %}
                    <ul class="sidebar">
                        <h4>{% trans 'Tags' %}</h4>
                        {% tags_list %}
                    </ul>
                {% endif %}
                {% if blog_page.display_archive %}
                    <ul class="sidebar widget menu">
                        <h4>{% trans 'Archive' %}</h4>
                        {% archives_list %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include '_footer.html' %}

{% block scripts %}
<script src="{% static 'dist/main.js' %}"></script>
{% endblock %}

</body>
</html>
