{% if election.website %}
<a class="p-1" title="Website" href="{{election.website}}"> <i class="fas fa-link fa-lg"></i></a>
{% endif %}

{% if election.donate %}
<a class="p-1" title="Donate" href="{{election.donate}}"> <i class="fas fa-donate fa-lg"></i></a>
{% endif %}

{% if election.facebook %}
<a class="p-1" title="Facebook" href="{{election.facebook}}"> <i class="fab fa-facebook fa-lg"></i></a>
{% endif %}

{% if election.twitter %}
<a class="p-1" title="Twitter" href="{{election.twitter}}"><i class="fab fa-twitter fa-lg"></i></a>
{% endif %}

{% if election.instagram %}
<a class="p-1" title="Instagram" href="{{election.instagram}}"><i class="fab fa-instagram fa-lg"></i></a>
{% endif %}

{% if election.wikipedia %}
<a class="p-1" title="Wikipedia" href="{{election.wikipedia}}"><i class="fab fa-wikipedia-w fa-lg"></i></a>
{% endif %}

{% if election.ballotpedia %}
<a class="p-1" title="Ballotpedia" href="{{election.ballotpedia}}"><i class="fas fa-info-circle fa-lg"></i></a>
{% endif %}

{% if election.office_ref.website %}
<a class="p-1" title="Office Website" href="{{election.office_ref.website}}">
    <i class="fas fa-building fa-lg"></i>
</a>
{% endif %}
