{% extends "leftbar_layout.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
{% load custom_tags %}

{% block leftbar %}
{% include 'elections/_election_page_sidebar.html' %}
{% endblock leftbar %}

{% block content %}
<div>
  <nav class="navbar">
    <h1>{{page.title}}</h1>
    <div class="d-flex">
    </div>  
  </nav>
  <h3 class="pb-3">
    {{election.office_ref.title}}
  </h3>
  
  {% include 'elections/_election_page.html' %}

</div>

{% endblock content %}