{% extends "mail/base.html" %}

{% load i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}

{% block email_head %}
    <mj-style>
        .richtext h3 {
            font-size: 26px;
        }
        .richtext p {
            font-size: 16px;
            line-height: 1.5;
        }
    </mj-style>
{% endblock email_head %}

{% block email_body %}
    {% image self.header_background original as bg_img %}
    <mj-hero mode="fluid-height" background-width="600px" background-height="400px" background-url="{{ bg_img.url }}" padding="100px 0px">
        <mj-text align="center" font-size="32px" color="orange">{{ self.headline }}</mj-text>
    </mj-hero>
    <mj-section css-class="richtext">
        <mj-column>
            <mj-text font-size="18px">Hello {{ contact.email }}!</mj-text>
            {% include_block self.body %}
        </mj-column>
    </mj-section>
{% endblock email_body %}