{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}Slack Invite{% endblock %}

{% block content %}

<div class="container slack-invite" style="padding:8px;">
  <div class="row">
<img class="img-responsive center-block"  src="{% static 'img/Slack_Mark_Monochrome_WhiteSmall.svg' %}" alt="Slack Logo">
    <h2 class="text-center"><small>Enter your email below to join us on slack!</small></h2>
  </div>

  <div class="row">
    {% csrf_token %}
    {% crispy form form.helper %}
  </div>
</div>

{% endblock %}
