@font-face {
    font-family: 'Big John';
    font-style: normal;
    font-weight: normal;
    src:
        url('fonts/big-john.otf') format('opentype');
}

@font-face {
    font-family: 'Slim Joe';
    font-style: normal;
    font-weight: normal;
    src:
        url('fonts/slim-joe.otf') format('opentype');
}