.btn-primary {
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
}

.btn-primary:hover {
    //filter: brightness(200%);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.25);
}