<footer id="footer" class="site-footer">
  <nav class="navbar navbar-expand-lg navbar-dark box-shadow">
    <div class="container">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-2"><a href="/volunteer">Volunteer
            for The Political Revolution!</a></li>
        <li class="nav-item px-2"><a href="/run">Are you
            ready to join the revolution?</a></li>
        <li class="nav-item px-2"><a href="/forms/register-to-vote">Voter
            Registration</a>
        </li>
        <li class="nav-item px-2"><a href="/privacy-policy">Privacy
            Policy</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item px-2">
          <a href="https://www.facebook.com/ThePoliticalRev/"><span><i class="fab fa-facebook fa-lg"></i></span></a>
        </li>
        <li class="nav-item px-2">
          <a href="https://twitter.com/ourpoliticalrev"><span><i class="fab fa-twitter fa-lg"></i></span></a>
        </li>
        <li class="nav-item px-2">
          <a href="https://www.reddit.com/r/Political_Revolution/"><span><i class="fab fa-reddit fa-lg"></i></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <hr />
    <div id="site-copyright" class="small py-3">
      <p class="mb-1">
        <strong>Paid for by The Political Revolution PAC</strong><br>
        © 2025
      </p>

      <p class="mb-1">
        Not authorized by any candidate or candidate’s committee.
      </p>

      <p class="mb-0">
        <em>pol-rev.com</em> is a joint website of
        <strong>The Political Revolution</strong> and
        <strong>Political Revolution Flight Path</strong>.<br>
        Political Revolution Flight Path is a registered
        <strong>501(c)(4)</strong> organization.<br>
        The Political Revolution is a
        <strong>Hybrid Political Action Committee (Hybrid PAC)</strong>.<br>
        These are separate and distinct organizations.
      </p>
    </div>
  </div> <!-- #footer-inside -->
</footer>