<footer id="footer" class="site-footer">
  <nav class="navbar navbar-expand-lg navbar-dark box-shadow">
    <div class="container">
      <ul class="navbar-nav me-auto">
        <li class="nav-item px-2"><a href="/volunteer">Volunteer
            for The Political Revolution!</a></li>
        <li class="nav-item px-2"><a href="/run">Are you
            ready to join the revolution?</a></li>
        <li class="nav-item px-2"><a href="/forms/register-to-vote">Voter
            Registration</a>
        </li>
        <li class="nav-item px-2"><a href="/privacy-policy">Privacy
            Policy</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item px-2">
          <a href="https://www.facebook.com/ThePoliticalRev/"><span><i class="fab fa-facebook fa-lg"></i></span></a>
        </li>
        <li class="nav-item px-2">
          <a href="https://twitter.com/ourpoliticalrev"><span><i class="fab fa-twitter fa-lg"></i></span></a>
        </li>
        <li class="nav-item px-2">
          <a href="https://www.reddit.com/r/Political_Revolution/"><span><i class="fab fa-reddit fa-lg"></i></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <hr />
    <div id="site-copyright">Paid for by <b>The Political Revolution PAC</b>
      ©2025
      <br>
      Not authorized by any candidate or candidate's committee
    </div>
  </div> <!-- #footer-inside -->
</footer>