<div class="leftbar">
    <div class="ribbon row no-gutters">
        <div class="col"><a class="nav-link" href="#"><i class="fab fa-twitter"></i></a></div>
        <div class="col"><a class="nav-link" href="#"><i class="fab fa-meetup"></i></a></div>
        <div class="col"><a class="nav-link" href="https://github.com/politicalrev"><i class="fab fa-github"></i></a></div>
        <div class="col"><a class="nav-link" href="https://political-revolution.com/join-the-revolution-on-slack"><i class="fab fa-slack"></i></a></div>
        <div class="col"><a class="nav-link" href="#"><i class="fab fa-trello"></i></a></div>
    </div>
</div>

