{% load static %}

<header id="masthead" class="site-header">
  <div id="site-header-main">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">

      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav  mx-auto mb-2 mb-md-0">

          <li class="nav-item px-2">
            <a class="nav-link" href="https://secure.actblue.com/donate/tprpac" target="blank">Donate</a>
          </li>

          <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'volunteer' %}">Volunteer</a>
          </li>

          <li class="nav-item px-2">
            <a class="nav-link" href="{% url 'campaign' %}">Campaign</a>
          </li>

          <!--<li class="nav-item px-2">
            <a class="nav-link" href="{% url 'endorsements' %}">Endorsements</a>
          </li>-->

          <li class="nav-item px-2">
            <a class="nav-link" href="/candidate">Candidates</a>
          </li>

          <li class="nav-item px-2">
            <a class="nav-link" href="/blog">News</a>
          </li>

          <li class="nav-item px-2">
            <a class="nav-link" href="/event">Events</a>
          </li>

          <li class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="moreDropdown" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              More
            </a>
            <div class="dropdown-menu" aria-labelledby="moreDropdown">
              <a class="dropdown-item" href="{% url 'about' %}">About Us</a>
              <a class="dropdown-item" href="{% url 'mission' %}">Our Mission</a>
              <a class="dropdown-item" href="{% url 'by_laws' %}">By-Laws</a>
              <a class="dropdown-item" href="{% url 'issues' %}">Issues</a>
              <a class="dropdown-item" href="{% url 'transparency' %}">Transparency</a>
            </div>
          </li>

          {% if user.is_authenticated %}
          <li class="nav-item dropdown px-2">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
              <a class="dropdown-item" href="{% url 'accounts' %}">My Account</a>
              <a class="dropdown-item" href="/profiles/{{user.username}}">My Profile</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
              {% else %}
              <a class="dropdown-item" href="{% url 'login' %}">Log In</a>
              <a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a>
              {% endif %}
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  </div>
  <div id="header-image-main" style="position: relative; overflow: hidden;">
    <div id="header-image-main-inside">
      <a href="/">
        <img class="header-image" alt="The Political Revolution" src="{% static 'img/site-header.jpg' %}" />
      </a>
    </div><!-- #header-image-main-inside -->
  </div><!-- #header-image-main -->
</header>