<div class="leftbar">
    <div class="ribbon row">
        <div class="col col-lg-12">
          <a class="nav-link" href="https://www.facebook.com/ThePoliticalRev/" aria-label="facebook">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
        <div class="col col-lg-12">
          <a class="nav-link" href="https://twitter.com/ourpoliticalrev" aria-label="twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <div class="col col-lg-12">
          <a class="nav-link" href="https://pol-rev.com/join-the-revolution-on-slack" aria-label="slack">
            <i class="fab fa-slack"></i>
          </a>
        </div>
        <div class="col col-lg-12">
          <a class="nav-link" href="https://www.reddit.com/r/Political_Revolution/" aria-label="reddit">
            <i class="fab fa-reddit"></i>
          </a>
        </div>
        <div class="col col-lg-12">
          <a class="nav-link" href="https://github.com/polrev-github" aria-label="github">
            <i class="fab fa-github"></i>
          </a>
        </div>
    </div>
</div>

