{% load static %}

<!doctype html>
<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
  <link href="{% static 'dist/main.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block title %}
  {{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
  {% endblock title %}

  {% endblock head %}

</head>

<body>
  {% block content %}{% endblock %}
  {% block scripts %}
    <script src="{% static 'dist/main.js' %}"></script>
  {% endblock %}
</body>

</html>