{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags %}

<!DOCTYPE HTML>
<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->

  {% block styles %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png '%}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  
  <link href="{% static 'dist/main.css' %}" rel="stylesheet" type="text/css">
  {% endblock %}

  {% block extra_css %}{% endblock %}

  <title>
    {% block title %}
    {{ page.title }}
    {% endblock title %}
  </title>

  {% endblock %}

</head>

<body>
  {% include '_header.html' %}

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-1">
        {% include '_ribbon.html' %}
      </div>

        <main class="site-main col-12 col-md-11">

          {% if messages %}
            <div class="p-3">
                {% for message in messages %}
                  <div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message | safe }}
                  </div>
                {% endfor %}
            </div>
          {% endif %}
  
          {% block content %}{% endblock %}
        </main>

    </div>
  </div>

  {% include '_footer.html' %}

  {% block scripts %}
  <script src="{% static 'dist/main.js' %}" async></script>
  {% endblock %}

  {% block extra_js %}{% endblock %}
  {% load tz_detect %}
  {% tz_detect %}
</body>

</html>