{% extends "base.html" %}

{% load i18n static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>About Us</h1>
<section class="text-wrapper">
    <blockquote style="text-align: center;"><p><strong><em>“We need a political revolution of millions of people in this country who are prepared to stand up and say, ‘enough is enough’.<br />
    &#8211; Sen. Bernie Sanders</em></strong></p></blockquote>
    <p><span style="font-weight: 400;">The Political Revolution is a group of volunteers that grew out of the Bernie Sanders campaign. We’re an organization focused on digital campaigning and connecting progressives across the nation. Our goal is to support progressive candidates and ballot initiatives on a state-by-state basis and to amplify the message of other like-minded organizations and campaigns.</span></p>
    <p><span style="font-weight: 400;">The Political Revolution operates as a portal for candidates to introduce themselves to a national community of grassroots activists. This outreach means that even local races can have access to the same progressive base that helped Senator Sanders gain online popularity and support.</span></p>
    <h3><strong>What we do:</strong></h3>
    <ul>
    <li style="font-weight: 400;">We support local progressive political candidates</li>
    <li style="font-weight: 400;">We support state and congressional progressive candidates</li>
    <li style="font-weight: 400;">We support progressive incumbents</li>
    <li style="font-weight: 400;">We work on local, state, and congressional issues of social, racial, economic, and environmental justice</li>
    <li style="font-weight: 400;">We engage the community around those candidates and issues, and raise awareness for voters across the nation with a targeted social media platform and messaging, and by working with other activist groups</li>
    </ul>
    <p>Let us know if you are interested in helping!</p>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}