{% extends "base.html" %}

{% load i18n static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
<h1>By-Laws</h1>
<section class="text-wrapper">
  <h1 style="text-align: center;"><span style="font-weight: 400;">By-Laws and Articles of Organization</span></h1>
  <h4 style="text-align: center;"><span style="font-weight: 400;">The Political Revolution </span></h4>
  <h4 style="text-align: center;"><span style="font-weight: 400;">Ratified: July 27, 2017</span></h4>
  <p>&nbsp;</p>
  <p><b>Definitions:</b></p>
  <ul>
    <li><b>Board Member: <span style="font-weight: 400;">A member of the PAC Board. The PAC Board consists of a elected
          officials as outlined in Article VIII.</span></b></li>
    <li><strong>Executive Director</strong><span style="font-weight: 400;">: Elected to coordinate with both PAC Board
        and Team Leads.</span></li>
  </ul>
  <ul>
    <li style="list-style-type: none;">
      <ul>
        <li style="font-weight: 400;"><b>Treasurer:</b> <span style="font-weight: 400;">Appointed to manage the
            financial assets and liabilities of TPR.</span></li>
        <li style="font-weight: 400;"><b>Advisory Committee Member (ACM)</b><span style="font-weight: 400;">: Any
            volunteer, voting member, senior counsel or industry expert who has been appointed to the committee as
            outlined in Article XI.</span></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><b>Team Lead: <span style="font-weight: 400;">Elected by volunteers to lead a team within the volunteer
          organization.</span></b></li>
  </ul>
  <ul>
    <li style="font-weight: 400;"><b>Volunteer</b><span style="font-weight: 400;">: Active volunteer within the
        organization, as defined by Article II Section 2.</span></li>
  </ul>
  <p><b>ARTICLE I</b></p>
  <p><b>LOCATION and OBJECT</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">The name of this Political Action
      Committee shall be THE POLITICAL REVOLUTION,</span><span style="font-weight: 400;"> hereinafter
      &#8220;TPR.&#8221;</span></p>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">Legal Description: </span><span
      style="font-weight: 400;">TPR is organized and registered under the laws of the United States as a non-partisan,
      non-connected political action committee (PAC) as defined by the publication “</span><a
      href="http://www.fec.gov/pdf/nongui.pdf"><span style="font-weight: 400;">Campaign Guide for Nonconnected
        Committees</span></a><span style="font-weight: 400;">” of the Federal Election Commission, hereafter denoted
      FEC. </span></p>
  <p><span style="font-weight: 400;">SECTION 3.</span> <span style="font-weight: 400;">This Organization is established
      for the following purposes:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Political Revolution advances politics in America
        through progressive grassroots activism. Our political action committee is dedicated to electing candidates at
        state and local levels that support our progressive principles and backing issue-focused efforts to transform
        our government so it represents all our citizens.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Offerings to candidates include fundraising, digital
        media promotion, and volunteer mobilization.</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 4.</span> <span style="font-weight: 400;">The fiscal year of this
      Organization will start January 2017.</span></p>
  <p><span style="font-weight: 400;">SECTION 5. </span> <span style="font-weight: 400;">All references to writing or
      formal requests not otherwise defined in these bylaws must be made via e-mail to </span><a
      href="mailto:info@political-revolution.com"><span
        style="font-weight: 400;">info@political-revolution.com</span></a><span style="font-weight: 400;"> or sent to PO
      Box 930539, Wixom, MI 48393. </span></p>
  <p><b>ARTICLE II</b></p>
  <p><b>MEMBERSHIP</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">Membership in the PAC may be held
      by </span><span style="font-weight: 400;">all citizens or legal residents of the United States who</span><span
      style="font-weight: 400;"> and shall consist of the following grades: VOLUNTEER, TEAM LEAD, PAC BOARD, and
      ADVISORY COMMITTEE MEMBERS (ACM). A member shall be a person of good character and reputation as defined in the
      Articles of Acknowledgement.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">All defined members are entitled to vote on issues as
        defined in Article VI. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Responsibilities of members are defined in this
        Article. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 2.</span> <span style="font-weight: 400;">A VOLUNTEER in the organization
      shall:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be a Team Lead, Secretary, Treasurer, Advisory
        Committee-member, or Volunteer of The Political Revolution and perform duties imperative to operations of The
        Political Revolution, including but not limited to: Digital Organizing, Grassroots Organizing, Volunteer
        Management, Operations, Design, Content Creation, and Digital Marketing. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be active within the organization. Activity can be
        defined by the frequent performance of duties that help move the organization forward as defined by members of
        the TEAM LEADS and approved by Volunteer Management.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">A volunteer may not be expulsed without taking into
        consideration other variables as to be defined in Article III of these documents.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Perform duties without financial compensation.</span>
    </li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be of the age of 18 or older. Underaged volunteers
        must have written consent of parent or legal guardian filed with TPR</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 4. </span> <span style="font-weight: 400;">A BOARD MEMBER in the
      organization shall:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Uniquely hold liability for complying with </span><a
        href="http://www.fec.gov/pdf/nongui.pdf"><b>FEC guidelines</b></a><span style="font-weight: 400;"> and other
        related campaign finance laws. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 5. </span> <span style="font-weight: 400;">A TEAM LEAD in the organization
      shall:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be a member that has been given responsibilities
        within the volunteer organization. Typically this involves oversight within an area of the volunteer
        organization, such as publication, fundraising, or volunteer management.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Team Leads are required to coordinate with the PAC
        Board.</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 6. An ADVISORY COMMITTEE MEMBER in the organization shall:</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Be a member that advises the PAC BOARD and TEAM
        LEADS.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">An ACM shall be any member, industry expert, or other
        involved person that is appointed by the PAC Board or members of the organization to be on the ACM.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The ACM is not a voting body, voting bodies and
        methods are outlined in Article VII.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Being an ACM does not bar one from voting in other
        voting bodies. </span></li>
  </ol>
  <p><b>ARTICLE III</b></p>
  <p><b>RESIGNATIONS AND EXPULSIONS</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">A Member of this PAC may resign
      his/her/their membership by written communication to a member of TEAM LEADS, who shall present the same to the
      rest of the Team Leads and PAC Board when his/her/their resignation shall be accepted.</span></p>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">The PAC BOARD shall consider the
      proceedings toward the expulsion of any </span></p>
  <p><span style="font-weight: 400;">TEAM LEAD</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Upon information coming to its notice, derogatory to
        the MEMBERS.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Upon the written request of five or more Members that
        a person belonging to the organization be expelled for cause set forth. The PAC BOARD shall consider each case
        and if the circumstances appear to warrant further action, it shall advise the accused of the charges against
        him/her/them who may, if they so desire, present a defense either in person or writing, which shall be
        considered for final action at a meeting of the PAC BOARD of which the accused shall receive due notice. No
        member shall be expelled except by an affirmative vote of two-thirds of the entire PAC BOARD. Should a member be
        expelled from this Organization, he/she/they shall not again be entitled to membership, unless the PAC BOARD
        decide that extenuating circumstances and/or subsequent record may favor an applicant for readmission.</span>
    </li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Appeals may be made as outlined in Article VI. </span>
    </li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 3. </span> <span style="font-weight: 400;">If a BOARD MEMBERS, member of
      the ACM, or TEAM LEAD is absent without any </span></p>
  <p><span style="font-weight: 400;">communication for more than two weeks, they will be sent a letter of intent. If no
      response is given in a week, that member is subject to demotion.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">This decision will be made by TEAM LEADS and BOARD
        MEMBERS. </span></li>
  </ol>
  <p><b>ARTICLE IV</b></p>
  <p><b>ORGANIZATION</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">The members of this organization
      are defined in Article II.</span></p>
  <p><span style="font-weight: 400;">SECTION 2.</span> <span style="font-weight: 400;">The PAC Board shall consist of
      elected Board Members.</span></p>
  <p><span style="font-weight: 400;">SECTION 3.</span> <span style="font-weight: 400;">The terms of the Board shall
      begin at the close of the annual meeting.</span></p>
  <p><span style="font-weight: 400;">SECTION 4.</span> <span style="font-weight: 400;">The election of Directors and
      Advisors shall be done as set forth in Article X.</span></p>
  <p><span style="font-weight: 400;">SECTION 5.</span> <span style="font-weight: 400;">Any BOARD MEMBERS, ACM, or TEAM
      LEAD of this organization who is absent for three consecutive Board meetings without warning will be subject for
      review of resignation as defined in Article III.</span></p>
  <p><span style="font-weight: 400;">SECTION 6.</span> <span style="font-weight: 400;">A vacancy in any office shall be
      filled by an appointment by the agreement (see Article VII) of both BOARD MEMBERS and TEAM LEADS, and the person
      so appointed shall hold office for the remainder of the unexpired term of the vacancy being filled, or until a
      successor is duly elected by these bylaws.</span></p>
  <p><b>ARTICLE V</b></p>
  <p><b>AMENDMENTS</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">The bylaws may be repealed or
      amended by two-thirds majority of the Member vote cast with a quorum of two-thirds of all Members.</span></p>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">Bylaws changes shall be
      initiated by petition signed by at least one-fourth of TEAM LEADS and PAC BOARD MEMBERS..</span></p>
  <p><span style="font-weight: 400;">SECTION 3.</span> <span style="font-weight: 400;">Proposed bylaws changes in
      writing shall be sent to all MEMBERS at least fifteen days before voting takes place.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Voting on amendments will take place over the course
        of seven days minimum. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 4.</span> <span style="font-weight: 400;">Voting on changes to the bylaws
      shall abide by Article VI.</span></p>
  <p><b>ARTICLE VI</b></p>
  <p><b>VOTING</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">Within the organization, there
      will be different Voting Bodies.</span></p>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">Voting Bodies may vote on items
      that are related to their scope. </span></p>
  <p><span style="font-weight: 400;">SECTION 3. </span> <span style="font-weight: 400;">There will be three main voting
      bodies. Their scopes typically include: </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">PAC BOARD: Votes on official publications, items
        related to FEC compliance, operational and financial assets, and any other public-facing communications,
        branding, or assets.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">TEAM LEADS: Votes on internal team operations. </span>
    </li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">VOLUNTEERS: Votes on organization-wide issues put
        forth by the PAC Board and Team Leads. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 4. </span> <span style="font-weight: 400;">QUORUM: A quorum will be
      determined by the Timeframe and Scope of the vote.</span></p>
  <p><span style="font-weight: 400;">SECTION 5. </span> <span style="font-weight: 400;">TIMEFRAME:</span><span
      style="font-weight: 400;"> A timeframe will be determined by taking into account the urgency </span></p>
  <p><span style="font-weight: 400;">and scope of the vote.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The TIMEFRAME for votes must be chosen before the vote
        is held by at least two agreeing members of the voting body.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">One of the following TIMEFRAMES must be chosen:
        immediate, one day, three days, and seven days.</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 6. DISPUTES: A dispute is defined by a voting body to reach a two-third’s
      approval during a vote. </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Team Leads may be called to vote on members in
        which there is a dispute with the directors of the organization. If there is a dispute in both the Board and the
        Team Leads, the rest of the Members may be polled. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">If there is a dispute in the Team Leads, members of
        the PAC Board may be called in to break a tie or reach quorum. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Disputes may also be settled by member polls (all
        VOLUNTEERS).</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 7.</span> <span style="font-weight: 400;">Voting Bodies are required to
      make the results of voting known in the form of </span></p>
  <p><span style="font-weight: 400;">public bulletin or e-mail to the rest of the membership depending on the SCOPE and
      MAGNITUDE of the issue being voted on. </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">SCOPE: Scope is defined by how many people are
        included in the voting body that is making the decision.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">MAGNITUDE: Magnitude is defined by how many people are
        affected by the decision being made. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Additional examples and processes of group-decision
        making will be outlined in the Democratic Decision Making document maintained by Team Leads.</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 8. </span> <span style="font-weight: 400;">VETOES: The PAC Board and Team
      Leads have veto power.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Vetoes must be made within 48 hours of a vote being
        known.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The PAC Board may veto decisions made by Team
        Leads.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Team Leads may veto decisions made by PAC
        Board.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Vetoes can be initiated by a majority vote of a voting
        body.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Vetoes must be approved by two-thirds of a two-thirds
        quorum.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">No veto can be vetoed again.</span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 9. </span> <span style="font-weight: 400;">APPEALS: An appeal is a formal
      request to reverse a decision made by Voting </span></p>
  <p><span style="font-weight: 400;">Bodies as defined in these By-Laws. </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Any member or member who has been expulsed within two
        weeks can appeal a decision made by a Voting Body.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Appeals must be made in writing and can be submitted
        to BOARD MEMBERS by e-mailing </span><a href="mailto:info@political-revolution.com"><span
          style="font-weight: 400;">info@political-revolution.com</span></a><span style="font-weight: 400;">. </span>
    </li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Appeals will be reviewed by an Appeals Committee, to
        be created as needed.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Appeals Committee will be created as set forth in
        Article XI.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Appeals must be addressed within 48 hours of their
        submittal. </span></li>
  </ol>
  <p><b>ARTICLE VII</b></p>
  <p><b>MEETINGS</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">Regular meetings shall be held
      the 1st Wednesday of each month by the appropriate Members. Special meetings may be held either at the call of the
      PAC Board or TEAM LEADS. An annual meeting shall be held during a month and date agreed upon by the Board.</span>
  </p>
  <p><span style="font-weight: 400;">SECTION 2.</span> <span style="font-weight: 400;">Board of Directors and Advisors
      of the organization shall be installed at the regular annual meeting on the second Monday of December.</span></p>
  <p><span style="font-weight: 400;">SECTION 3.</span> <span style="font-weight: 400;">Business proceedings at all
      General and PAC Board meetings shall be governed by an appointed TEAM LEAD.</span></p>
  <p><span style="font-weight: 400;">SECTION 4. </span> <span style="font-weight: 400;">Board members must attend
      meetings to retain Board membership. Refer to Article III.</span></p>
  <p><b>ARTICLE VIII</b></p>
  <p><b>PAC BOARD</b></p>
  <p><span style="font-weight: 400;">SECTION 1. The organization bylaws hereby provide for an PAC Board consisting of
      three elected Directors, including an Executive Director, and a Treasurer (non-voting member). </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">BOARD MEMBER: Elected member who oversees and votes on
        PAC Board.</span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">EXECUTIVE DIRECTOR: Elected member whose duty is to
        coordinate between PAC Board and Team Leads, as well as oversee all operations. </span></li>
    <li style="font-weight: 400;"><span style="font-weight: 400;">TREASURER: </span><span style="font-weight: 400;">A
        person elected to administer or manage the financial assets and liabilities of a society, company, local
        authority, or other body</span></li>
  </ol>
  <p><span style="font-weight: 400;">2. </span> <span style="font-weight: 400;">It is the duty of the Board to review
      funds. Purchases are subject to review by the entire board. </span></p>
  <p><span style="font-weight: 400;">SECTION 3. </span> <span style="font-weight: 400;">It is the duty of the Board to
      oversee total cost of operation. </span></p>
  <p><span style="font-weight: 400;">SECTION 4. </span> <span style="font-weight: 400;">It is the duty of the Treasurer
      to file FEC reports on fundraising, expenditure, and contributions and to abide by FEC guidelines in these
      matters. All bank statements, filing to FEC shall be made public each month.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Other duties of the Treasurer may be viewed on the
      </span><a href="http://www.fec.gov/pages/brochures/treas.shtml"><span style="font-weight: 400;">FEC Website.
        </span></a></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 5. </span> <span style="font-weight: 400;">Additional positions may be
      created and elected as outlined in Article X as needed.</span></p>
  <p><span style="font-weight: 400;">SECTION 6.</span> <span style="font-weight: 400;">Any change in the information
      disclosed on the Statement of Organization, including a change in officers, must be reported within 10 days after
      the change takes place. </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Treasurer must file either an amended Statement of
        Organization or a signed letter. Electronic filers must electronically file the entire Statement of Organization
        to report a change. Paper filers report a change by filing either an amended Statement of Organization or a
        signed letter which includes the committee&#8217;s name, identification number (assigned by the FEC when the
        Statement of Organization is originally filed) and information pertaining to the change.</span></li>
  </ol>
  <p><b>ARTICLE IX</b></p>
  <p><b>POWERS AND DUTIES OF PAC BOARD</b></p>
  <p><span style="font-weight: 400;">SECTION 1. </span> <span style="font-weight: 400;">The powers of the organization
      shall be exercised, its property controlled, and its </span></p>
  <p><span style="font-weight: 400;">affairs conducted by the PAC BOARD, except as limited by these bylaws.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">A Board Member shall uniquely hold liability for
        complying with </span><a href="http://www.fec.gov/pdf/nongui.pdf"><b>FEC guidelines</b></a><span
        style="font-weight: 400;"> and other related campaign finance laws. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">The PAC Board must make all of
      its decisions voted on must be made known to members of the organizations. </span></p>
  <p><span style="font-weight: 400;">SECTION 3.</span> <span style="font-weight: 400;">The Treasurer shall be the
      custodian of all funds and financial records of the organization, and shall make disbursements when authorized by
      the PAC Board.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Treasurer is uniquely responsible for FEC
        compliance as it relates to financial law and any other law defined by </span><a
        href="http://www.fec.gov/pages/brochures/treas.shtml"><span style="font-weight: 400;">FEC
          regulations.</span></a></li>
  </ol>
  <p><b>ARTICLE X</b></p>
  <p><b>NOMINATION AND ELECTION OF LEADERS AND DIRECTORS</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">The Nominating Committee shall
      consist of the PAC Boards and Team Leads.</span></p>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">All members shall be sent a
      ballot listing the nominees for the various offices. The marked ballot shall be returned to the Nominating
      Committee. The results shall be announced at the next board meeting and the directors shall take office at the
      close of the meeting.</span></p>
  <p><span style="font-weight: 400;">SECTION 3. </span> <span style="font-weight: 400;">A simple majority of the votes
      cast shall be necessary for the election of directors.</span></p>
  <p><span style="font-weight: 400;">SECTION 4.</span> <span style="font-weight: 400;">In the event of a tie between two
      or more candidates for the same office, the Nominating Committee will hold a vote to determine the winning
      candidate.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">The Nominating Committee may choose to poll the other
        membership. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 5. </span> <span style="font-weight: 400;">Ranked voting will be used when
      there are multiple candidates. </span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Separate elections will be held for the positions of
        Executive Director and Director(s) every 6 months. </span></li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 6. </span> <span style="font-weight: 400;">Election dates will be
      determined by the Team Leads.</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Election dates will be made known to all membership at
        least 3 months in advance.</span></li>
  </ol>
  <p><b>ARTICLE XI</b></p>
  <p><b>COMMITTEES</b></p>
  <p><span style="font-weight: 400;">SECTION 1.</span> <span style="font-weight: 400;">The standing committees of this
      organization shall be:</span></p>
  <ol>
    <li style="font-weight: 400;"><b>Advisory Committee </b><span style="font-weight: 400;">&#8211; A group of industry
        experts, volunteers, and other members who have been elected to advise the PAC Board and Team Leads. </span>
    </li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 2. </span> <span style="font-weight: 400;">Additional standing committees
      may be created or existing committees eliminated by the PAC BOARD or by membership vote. </span></p>
  <p><span style="font-weight: 400;">SECTION 3. </span> <span style="font-weight: 400;">The membership and number
      serving on committees shall be at the discretion of the Director(s).</span></p>
  <ol>
    <li style="font-weight: 400;"><span style="font-weight: 400;">Committees may consist of up to 15 members. </span>
    </li>
  </ol>
  <p><span style="font-weight: 400;">SECTION 4. </span> <span style="font-weight: 400;">It is the duty of all committees
      to abide by </span><a href="http://www.fec.gov/pdf/nongui.pdf"><b>FEC guidelines</b></a><span
      style="font-weight: 400;">.</span></p>
  <p>&#8212;</p>
  <p>Ratified on July 27th, 2017 by Team Leads and Board Members as listed below:</p>
  <p><strong>Raymond Braun</strong> &#8211; Executive Director</p>
  <p><strong>Gloriann Fields</strong> &#8211; Treasurer and Digital Director</p>
  <p><strong>Thomas McIntire</strong> &#8211; Deputy Director</p>
  <p><strong>Ryman Curtis</strong> &#8211; Team Lead</p>
  <p><strong>Karsh Sahay</strong> &#8211; Reddit Ambassador</p>
  <p><strong>Chris Skiba</strong> &#8211; Team Lead</p>
  <p><em>&#8212;</em></p>
  <p>The Political Revolution By-Laws were originally written by William Godfrey, and then revised several times by The
    Political Revolution membership. These meetings were aptly called &#8216;Consitutional Summits&#8217;. Gloriann
    Fields authored the By-Laws after these summits combining the original document and the notes from the summits. The
    final By-Laws were ratified above using Loomio, a digital democratic platform.</p>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}