{% extends "home_layout.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar puput_tags social_share %}

{% block content %}
<div class="container py-3 text-center">
	<div class="row">
		<div class="col-md-12">
			<div class="mb-4">
				<h1>Transforming America Through Progressive Politics</h1>
			</div>
			<div class="mb-6">
                {% include_block page.body %}
			</div>
		</div>
	</div>
</div>

{% include 'cta/volunteer.html' %}

{% include 'cta/run.html' %}

{% include 'home/_featured_articles.html' %}

{% endblock %}
