{% extends "base.html" %}

{% load i18n static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="p-3">
<h1>The Political Revolution Mission</h1>
<section class="text-wrapper">
    <h2>Transforming America Through Progressive Politics</h2>
    <p><span style="font-weight: 400;"><strong>The Political Revolution</strong> advances politics in America through progressive grassroots activism. Our political action committee is dedicated to electing progressive candidates and supporting issue-focused efforts to transform our government so it represents all our citizens, not just the wealthy few.</span><span style="font-weight: 400;"><br />
    </span><span style="font-weight: 400;"><br />
    </span><span style="font-weight: 400;">Our founders also started Sanders for President, the single largest online community dedicated to Senator Sanders’s presidential bid. Purely through the use of volunteers that group raised more than $10 million and reached millions of people per month.</span><span style="font-weight: 400;"><br />
    </span><span style="font-weight: 400;"><br />
    </span><span style="font-weight: 400;">How will a political action committee be more effective? With no single guiding icon, it is up to the progressive movement to create the energy necessary to move forward. By being connected, informed, and motivated, we can do exactly that. With the ability to fund software development, manage volunteers, provide resources to candidates, and support activists in the field, more people can afford to be out on the front lines. And with more people comes more change. And then more people.</span></p>
    <p><span style="font-weight: 400;">That has always been the focus of this group as it has evolved. To reach more people, bring them together &#8211; and though progressive grassroots activism &#8211; create lasting change.</span></p>
</section>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}