{% extends "base.html" %}
{% load avatar_tags %}

{% block content %}
<div class="row postcard-header">
    <div class="col-12 col-md-8">
        <div>
            {% avatar profile 65 %}
            <div class="postcard-intro">
                <h1>{{ profile.get_full_name }}</h1>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        {% comment %}
        {% if profile == user %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary" href="/profiles/{{profile.username}}/edit">{{ _('Edit your profile') }}</a>
        </div>
        {% endif %}
        {% endcomment %}
    </div>
</div>

{% if profile.about_me %}<p>{{ profile.about_me }}</p>{% endif %}
<h2>Posts</h2>
<div class="list-group">
    {% for post in posts %}
    {% include 'blog/_post_item.html' %}
    {% endfor %}
</div>
{% endblock %}