{% if campaigns %}
    {% if campaigns.has_other_pages %}
    <div class="btn-group" role="group" aria-label="Item pagination">
        {% if campaigns.has_previous %}
            <a href="?page={{ campaigns.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
        {% endif %}

        {% for page_number in campaigns.paginator.page_range %}
            {% if campaigns.number == page_number %}
                <button class="btn btn-outline-primary active">
                    <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                </button>
            {% else %}
                <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                    {{ page_number }}
                </a>
            {% endif %}
        {% endfor %}

        {% if campaigns.has_next %}
            <a href="?page={{ campaigns.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
        {% endif %}
    </div>
    {% endif %}
{% else %}
    <p>No items found.</p>
{% endif %}