{% load custom_tags %}

{% if campaigns %}
  {% if campaigns.has_other_pages %}
    <nav aria-label="Item pagination">
      <ul class="pagination">
        {% if campaigns.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ campaigns.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}

        {% with active_page=campaigns.number %}
        {% for page_number in campaigns.paginator.page_range %}
          {# if we're beyond the first five pages, just show "..." until three pages before the current page #}
          {# e.g. on page 12 show: "... 9 10 11 12" #}
          {% if active_page > 5 and page_number < active_page|subtract:4 %}
              {# nothing to show #}
          {% elif active_page > 5 and page_number == active_page|subtract:4 %}
              {# show '...' #}
              <li class="disabled">
                  <a href="#">...</a>
              </li>

          {# if we're before the last five pages, just show "..." for pages more than three after the current page #}
          {# e.g. on page 1 of 10 show: "1 2 3 4 ..." #}
          {% elif active_page < table.paginator.num_pages|subtract:5 and page_number > active_page|add:4 %}
              {# nothing to show #}
          {% elif active_page < table.paginator.num_pages|subtract:5 and page_number == active_page|add:4 %}
              {# show '...' #}
              <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">...</a>
              </li>

          {% else %}
              {# show the page number as normal #}
              {% if campaigns.number == page_number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{page_number}}</a>
              </li
          {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_number }}">
                  {{ page_number }}
                </a>
              </li>
          {% endif %}
          {% endif %}
        {% endfor %}
        {% endwith %}

        {% if campaigns.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ campaigns.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>  
        {% endif %}
  </nav>

    {% endif %}
{% else %}
    <p>No items found.</p>
{% endif %}