{% load wagtailcore_tags wagtailroutablepage_tags %}

<nav class="rightbar" style="height: 100%">
  <div class="d-flex flex-column flex-shrink-0 p-2">
    This is a listing of Progressive candidates endorsed by national groups to include Our Revolution, Brand New Congress, Democratic Socialists of America, Justice Democrats, the Political Revolution, and Progressive Change Campaign.  Where two candidates are running for the same seat, only the candidate endorsed in 2022 is listed.
  </div>
</nav>