{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
{% load shuffle %}
{% load custom_tags %}

{% block content %}
<div>
  <div class="row">
    <div class="col-12 col-md-9">

      <nav class="navbar">
        <h1 class="navbar-brand">{{page.title}}</h1>
        <div class="d-flex">
          {% include 'campaigns/_state_dropdown.html' %}
        </div>  
      </nav>
    

  <div class="d-grid gap-3">
    {% regroup campaigns by state_fips as campaign_list %}
    {% for campaign_group in campaign_list %}
    <h2>{{campaign_group.grouper|fips_title}}</h2>
    {% for campaign in campaign_group.list %}
    <div class="card">
      <div class="row no-gutters">
          <div class="col-auto">
            {% image campaign.image max-200x250 as image %}
            <img src="{{image.url}}" alt="{{campaign.title}}">
          </div>
          <div class="col ">
              <div class="card-body card-block px-2">
                <h4 class="card-title">{{campaign.title}}</h4>
                <h5 class="card-subtitle mb-2 text-muted">
                  {{campaign.office_type_ref.title}} - <a href={{campaign.office_ref.website}}>{{campaign.area_ref.title}}</a>
                </h5>
                <div class="card-text">
                  {{ campaign.excerpt|richtext }}
                </div>
                <p class="card-text">
                  {% for endorsement in campaign.endorsements.all %}
                    <a title="{{endorsement.title}}" href="{{endorsement.website}}">
                      <span class="badge" style="background-color:{{endorsement.color}};">{{endorsement.abbrev}}</span>
                    </a>
                  {% endfor %}
                </p>
      
              </div>
          </div>
      </div>
      <div class="card-footer w-100 text-muted">
        <a class="p-1" title="Website" href="{{campaign.website}}"> <i class="fas fa-link fa-lg"></i></a>
        <a class="p-1" title="Donate" href="{{campaign.donate}}"> <i class="fas fa-donate fa-lg"></i></a>

        <a class="p-1" title="Facebook" href="{{campaign.facebook}}"> <i class="fab fa-facebook fa-lg"></i></a>
        <a class="p-1" title="Twitter" href="{{campaign.twitter}}"><i class="fab fa-twitter fa-lg"></i></a>
        <a class="p-1" title="Instagram" href="{{campaign.instagram}}"><i class="fab fa-instagram fa-lg"></i></a>

        <a class="p-1" title="Wikipedia" href="{{campaign.wikipedia}}"><i class="fab fa-wikipedia-w fa-lg"></i></a>
        <a class="p-1" title="Ballotpedia" href="{{campaign.ballotpedia}}"><i class="fas fa-info-circle fa-lg"></i></a>
      </div>
    </div>
    <br />
    {% endfor %}
    {% endfor %}
  </div>

</div>

  <div class="col-12 col-md-3">
    {% include 'campaigns/_sidebar.html' %}
  </div>
</div>

</div>

{% endblock content %}