{% extends "leftbar_layout.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
{% load custom_tags %}

{% block leftbar %}
{% include 'campaigns/_campaign_page_sidebar.html' %}
{% endblock leftbar %}

{% block content %}
<div>
  <nav class="navbar">
    <h1>{{page.title}}</h1>
    <div class="d-flex">
    </div>  
  </nav>
  <div class="pb-3">
  {{campaign.office_type_ref.title}} - <a href={{campaign.office_ref.website}}>{{campaign.area_ref.title}}</a>
  </div>
  
  {% include 'campaigns/_campaign_page.html' %}

</div>

{% endblock content %}