{% extends "base.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags puput_tags social_share %}
{% load shuffle %}
{% load custom_tags %}

{% block content %}
<div>
  <div class="row">
    <div class="col-12 col-md-9">

      <nav class="navbar">
        <h1 class="navbar-brand">{{page.title}}</h1>
        <div class="d-flex">
        </div>  
      </nav>
    

    {% include 'campaigns/_campaign_card.html' %}

</div>

  <div class="col-12 col-md-3">
    {% include 'campaigns/_sidebar.html' %}
  </div>
</div>

</div>

{% endblock content %}