{% load static %}

<div class="row flex-lg-row-reverse align-items-center py-4 g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/candidate.svg' %}" class="d-block mx-lg-auto img-fluid" alt="The United States Capitol Rotunda" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fw-bold lh-1 mb-3">Help your campaign succeed</h2>
      <p class="lead">Acquiring and holding public office is a serious challenge for anyone, tools like the RunForOffice
        site make for a helpful place to start &#8211; what offices are up for election in your neighborhood?</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4" href="/candidate/" target=blank role="button">
          Run For Office!
        </a>
      </div>
    </div>
</div>
  