{% load static %}

<div class="row flex-lg-row-reverse align-items-center py-3 g-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/volunteer.svg' %}" class="d-block mx-lg-auto img-fluid" alt="Volunteer" width="700" height="500">
    </div>
    <div class="col-lg-6">
      <h2 class="display-5 fw-bold lh-1 mb-3">Are you ready to join the revolution?</h2>
      <p class="lead">You can make a difference.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary btn-lg px-4" href="/volunteer/" target=blank role="button">
            Get Started!
        </a>
      </div>
    </div>
</div>
  