{% extends "base.html" %}
{% load i18n static  %}

{% block title %}
Volunteers
{% endblock title %}

{% block content %}

<div >
  <div class="row">
    <div class=" col-12 col-md-8">
      <h1>Volunteer for The Political Revolution!</h1>
      <p>
        HELP US ELECT PROGRESSIVES NATIONWIDE!
      </p>
      <p>
      <a class="btn btn-primary my-1" style="font-weight: 600; border-radius: 9999px;" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUM0g5MFIwMENZTDVTOEZIM1JXR1FHWEVJMS4u">
        Sign up to be a Volunteer!
        <i class="fas fa-chevron-right"></i>
      </a>
      <a class="btn btn-primary my-1" style="font-weight: 600; border-radius: 9999px;" href="https://forms.office.com/Pages/ResponsePage.aspx?id=2liv4n7UtE-SPRsQbA3VKgtxitoffcRHgHXXl6zlLZhUM0Q1SkJZTk9PRFNRM0hRWTFKRklXSE01UC4u">
        Sign up to be a Moderator!
        <i class="fas fa-chevron-right"></i>
      </a>
      <hr/>
    </p>
      <h2>
        Phonebanking Team
      </h2>
      <h2>
        Social Media Team
      </h2>
      <h2>
        Writing Team
      </h2>
      <h2>
        Fundraising Team
      </h2>
      <h2>
        Candidate Outreach Team
      </h2>
      <h2>
        Web and App Development Team
      </h2>
      <br/>
      <p>
        If you have any questions about volunteering with The Political Revolution, send an email to <a href="mailto:info@political-revolution.com">info@political-revolution.com</a>, and we will get back to you as soon as possible!
      </p>
      
    </div>

    <div class="col-12 col-md-4">
      {% include 'volunteer/_sidebar.html' %}
    </div>
  </div>
</div>

{% endblock %}